.profile {
    background: #fff;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.update-btn {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    padding: 0 42px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    font-weight: 700;
    transition: .7s;
    border-radius: 0;
    background-color: black;
    color: white;
}
.update-btn:hover {
    background-color: #ff9600;
    color: black;
    transition: .7s;
}
.margin {
    margin: 2rem 0 0 1rem;
    color: blue;
}